<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header" onclick="window.location.href='{{post.url}}'" style="cursor: pointer!important;">

		<div class="entry-meta">
			<span class="cat-links">
                {% for c in post.categories %}
                <a href="{{ c.url }}" rel="category">{{ c }}</a>
                {% endfor %}
			</span>
		</div>

		<h1 href class="entry-title">{{ post.title}} </h1>

		<div class="entry-meta">
			<span class="entry-date">

					<time class="entry-date">
							{{ post.date | date_to_string }}
					</time>

			</span>
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ post.content | strip_html | truncatewords: 20 }}
	</div>

{% if post.tags %}
	<footer class="entry-meta">
		<span class="tag-links">		
			{% for tag in post.tags %}
                <a href="{{tag.url}}" rel="tag">{{ tag }}</a>
            {% endfor %}
		</span>
	</footer>
{% endif %}	
</article> <!-- #post-## -->
